<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CenterSpace.NMath.Standard.Windows.X64" version="7.2.0.52" targetFramework="net461" />
  <package id="Google.OrTools" version="8.1.8487" targetFramework="net461" />
  <package id="Google.OrTools.runtime.linux-x64" version="8.1.8487" targetFramework="net461" />
  <package id="Google.OrTools.runtime.osx-x64" version="8.1.8487" targetFramework="net461" />
  <package id="Google.OrTools.runtime.win-x64" version="8.1.8487" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net461" />
  <package id="Microsoft.Solver.Foundation" version="3.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.6.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net461" />
</packages>